<template lang="">
    <div class="flex items-center bg-blue-400 w-screen h-screen">
       <div class="flex justify-center items-center text-20 bg-red-400 w-full h-12">

           Hello, Nuxt 3, Pinia, Tailwind
       </div> 
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>